


/* ================================================================================= */
/* LAYOUT is based on flexbox CSS elements - not supported by very very old browsers */
/* ================================================================================= */
body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote, clipshead { font-family: "Open Sans", sans-serif; color: slategrey;
	text-rendering: optimizeLegibility; }

.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  
  
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.header {
  background: tomato;
}

.footer {
  background: lightgreen;
}

.main {
  text-align: left;
  background: deepskyblue;

}

.aside-1 {
  background: gold;

}

.aside-2 {
  background: hotpink;
  max-width: 300px;
}

/* ================== Responsive layout =================== */
/* Determine the flexbox layout for different sized screens */
@media all and (min-width: 600px) {
  .aside { flex: 1 auto; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; } 
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
}
/* ================== End Responsive layout =================== */

body {
  padding: 2em; 
}

/* From original css */
h1 {
	font-size: 36px;
	margin: 0 0 -10px 0;
}

h2 {
	font-size: 24px;
	margin: 0 0 0 0;
}

.site_title {
	padding-top: 10px;
}

.site_description {
	padding-top: 0px;
	padding-bottom: 10px;
}

/* ================= NAVIGATION MENUS ================= */
nav { margin: 0px auto text-align: left; color:#666666; font-size: 12px; }

nav ul ul { display: none; text-align: left; color:#666666; font-size: 12px; }
nav ul li:hover > ul { display: block; }
nav ul {
	background: white; /* Background colour of the menu */
	padding: 0 0px; list-style: none; position: relative; display: inline-table;
	z-index:1;/* Ensures menu drawn on top of audioplayer graphics on soundclips page */
}
nav ul:after { content: ""; clear: both; display: block; }

nav ul li { float: left; }
nav ul li:hover { background: #4b545f; }
nav ul li:hover a { /* Hover style for main menu links - no change of colour or underline */
	color: #fff;
	text-decoration:none;
}
		
nav ul li a { display: block; padding: 5px 20px; color: #757575; text-decoration: none; }	
nav ul ul { background: #5f6975; border-radius: 0px; padding: 0;position: absolute; top: 100%; }
nav ul ul li { float: none;border-top: 1px solid #6b727c;border-bottom: 1px solid #575f6a; position: relative; }
nav ul ul li a { padding: 5px 30px;color: #fff; }	
nav ul ul li a:hover { background: #4b545f; }
nav ul ul ul {}
/* ================= End of NAVIGATION MENUS ================= */



