<!DOCTYPE html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	</head>
  	<body>
<div class="performance"><!-------------------------------------------------------->
    		<div class="perf-title"><a href="/works/lexicon.php" title="Lexicon">LEXICON</a></div>
			<div class="perf-date">14.04.2025</div>
    		<div class="perf-venue">Hatch Recital Hall, Eastman School of Music, Rochester NY, USA</div>
    		<div class="perf-performer"><a href=/>Andrew Lewis</a></div>
    		<hr class="fixed"><!--- an HR forced to appear after the text that is above it ------------------------------------->
		</div>
		<div class="performance"><!-------------------------------------------------------->
          <div class="perf-title"><a href="/works/lexicon.php" title="LEXICON">LEXICON</a></div>
          <div class="perf-date">27.10.2023</div>
          <div class="perf-venue"><a href="https://musicacoustica.zjcm.edu.cn/english/index.html">Musicacoustica-Hangzhou 2023</a> Zhejian Conservatory of Music, Hangzhou, China</div>
          <div class="perf-performer"></div>
          <hr class="fixed"><!--- an HR forced to appear after the text that is above it ------------------------------------->
          </div>          
          <!--- End of row -------------------------------------------------->
          <div class="performance"><!-------------------------------------------------------->
            <div class="perf-title"><a href="/works/lexicon.php">LEXICON</a></div>
            <div class="perf-date">21.10.2021</div>
            <div class="perf-venue">Theatr Bryn Terfel, Bangor, Wales</div>
            <div class="perf-performer"><a href=/>Andrew Lewis</a></div>
            <hr class="fixed"><!--- an HR forced to appear after the text that is above it ------------------------------------->
          </div>
          <!--- End of row -------------------------------------------------->
          <div class="performance"><!-------------------------------------------------------->
            <div class="perf-title"><a href="/works/lexicon.php">LEXICON</a></div>
            <div class="perf-date">19.09.2021</div>
            <div class="perf-venue"><a href="hhttps://martiangardens.blog/2021/09/19/martian-gardens-episode-1078/">Episode
                1078 / Martian Gardens Podcast (USA)</a></div>
            <div class="perf-performer"> </div>
            <hr class="fixed"><!--- an HR forced to appear after the text that is above it ------------------------------------->
          </div>
                 <!--- End of row -------------------------------------------------->
          <div class="performance"><!--- ------------------------------------------------------- ---->
            <div class="perf-title"><a href="/works/lexicon.php">LEXICON</a></div>
            <div class="perf-date">28.10.2018</div>
            <div class="perf-venue"><a href="http://www.lespaceduson.be/programme-2018.html">L'Espace
                du son, Bar Marni, Brussels</a></div>
            <div class="perf-performer"><a href="www.andrewlewis.org.uk">Andrew
                Lewis</a></div>
            <hr class="fixed"><!--- an HR forced to appear after the text that is above it ------------------------------------->
          </div>
          <!--- End of row -------------------------------------------------->
          <div class="performance"><!--- ------------------------------------------------------- ---->
            <div class="perf-title"><a href="/works/lexicon.php">LEXICON</a></div>
            <div class="perf-date">19.04.2018</div>
            <div class="perf-venue">Liceo Musicale "A. Casardi", Barletta, Italy</div>
            <div class="perf-performer"><a href="https://soundcloud.com/leocicala">Leo
                Cicala</a></div>
            <hr class="fixed"><!--- an HR forced to appear after the text that is above it ------------------------------------->
          </div>
          <!--- End of row -------------------------------------------------->
          <div class="performance"><!--- ------------------------------------------------------- ---->
            <div class="perf-title"><a href="/works/lexicon.php">LEXICON</a></div>
            <div class="perf-date">04.04.2018</div>
            <div class="perf-venue">"Poetry in Expanded Translation III"
              conference, Bangor University</div>
            <div class="perf-performer"><a href="www.andrewlewis.org.uk">Andrew
                Lewis</a></div>
            <hr class="fixed"><!--- an HR forced to appear after the text that is above it ------------------------------------->
          </div>
          <!--- End of row -------------------------------------------------->
          <div class="performance"><!--- ------------------------------------------------------- ---->
            <div class="perf-title"><a href="/works/lexicon.php">LEXICON</a></div>
            <div class="perf-date">30.01.2018</div>
            <div class="perf-venue"><a href="http://laboitenoireradio.blogspot.com/2018/01/042-label-quebecois-empreintes-digitales.html">RTR
                – Radio France Rodez 'La boîte noire'</a></div>
            <hr class="fixed"><!--- an HR forced to appear after the text that is above it ---->
          </div>
          <!--- End of row -------------------------------------------------->
          <div class="performance"><!--- ------------------------------------------------------- ---->
            <div class="perf-title"><a href="/works/lexicon.php">LEXICON</a></div>
            <div class="perf-date">23-24.09.2017</div>
            <div class="perf-venue"><a href="https://www.facebook.com/miseenplace.bushwick/posts/1957960157826433">Bushwick
                Open Studios, Mise-En Place, Brooklyn, New York</a> </div>
            <div class="perf-performer"><a href="ensemble%20mise-en">Ensemble
                Mise-En</a></div>
            <hr class="fixed"><!--- an HR forced to appear after the text that is above it ---->
          </div>
          <!--- End of row -------------------------------------------------->
          <div class="performance"><!--- ------------------------------------------------------- ---->
            <div class="perf-title"><a href="/works/lexicon.php">LEXICON</a></div>
            <div class="perf-date">05.04.2017</div>
            <div class="perf-venue"><a href="http://www.musiques-recherches.be/fr/agenda/concert-acousmatique/item/5563-2016-09-23-12-09-38">L’Espace
                Senghor, Brussels, Belgium</a></div>
            <div class="perf-performer">Annette Van De Gorne/Julien Guillamat</div>
            <hr class="fixed"> </div>
          <!--- End of row -------------------------------------------------->
          <div class="performance"><!--- ------------------------------------------------------- ---->
            <div class="perf-title"><a href="/works/lexicon.php">LEXICON</a></div>
            <div class="perf-date">05.06.2016</div>
            <div class="perf-venue"><a href="https://klangacousmonium.wordpress.com/2016/05/05/1073/">Salle
                Molière, Opéra Comédie de Montpellier, France</a></div>
            <div class="perf-performer"><a href="www.andrewlewis.org.uk">Andrew
                Lewis</a></div>
            <br>
            <hr class="fixed"></div>
          <!--- End of row -------------------------------------------------->
          <div class="performance"><!--- ------------------------------------------------------- ---->
            <div class="perf-title"><a href="/works/lexicon.php">LEXICON</a></div>
            <div class="perf-date">16.04.2015</div>
            <div class="perf-venue"><a href="http://www.swr.de/-/id=15378636/property=download/nid=659512/16p5n5i/index.pdf">Radiophon
                / SWR2, Germany</a></div>
            <div class="perf-performer">Harry Lachner</div>
            <hr class="fixed"> </div>
          <!--- End of row -------------------------------------------------->
          <div class="performance"><!--- ------------------------------------------------------- ---->
            <div class="perf-title"><a href="/works/lexicon.php">LEXICON</a></div>
            <div class="perf-date">01.03.2015</div>
            <div class="perf-venue">Radio Horizon, South Africa</div>
            <hr class="fixed"> </div>
          <!--- End of row -------------------------------------------------->
          <div class="performance"><!--- ------------------------------------------------------- ---->
            <div class="perf-title"><a href="/works/lexicon.php">LEXICON</a></div>
            <div class="perf-date">01.03.2015</div>
            <div class="perf-venue"><a href="http://www.fullerton.edu/arts/nmf/">Recital
                Hall, CSUF, Fullerton, California</a></div>
            <div class="perf-performer">Jane Rigler &amp; Darwin Grosse</div>
            <hr class="fixed"> </div>
          <!--- End of row -------------------------------------------------->
          <div class="performance"><!--- ------------------------------------------------------- ---->
            <div class="perf-title"><a href="/works/lexicon.php">LEXICON</a></div>
            <div class="perf-date">28.02.2015</div>
            <div class="perf-venue"><a href="http://www.fullerton.edu/arts/nmf/">Recital
                Hall, CSUF, Fullerton, California</a></div>
            <div class="perf-performer">Jane Rigler &amp; Darwin Grosse</div>
            <hr class="fixed"> </div>
          <!--- End of row -------------------------------------------------->
          <div class="performance"><!--- ------------------------------------------------------- ---->
            <div class="perf-title"><a href="/works/lexicon.php">LEXICON</a></div>
            <div class="perf-date">15.02.2015</div>
            <div class="perf-venue"><a href="http://www.festival-dme.org">Dias
                de Música Electroacústica, Seia, Portugal</a></div>
            <div class="perf-performer">Jospeh Hyde</div>
            <hr class="fixed"> </div>
          <!--- End of row -------------------------------------------------->
          <div class="performance"><!--- ------------------------------------------------------- ---->
            <div class="perf-title"><a href="/works/lexicon.php">LEXICON</a></div>
            <div class="perf-date">22.01.2015</div>
            <div class="perf-venue"><a href="http://www.rozhlas.cz/radiocustica/radioatelier/_zprava/andrew-lewis-lexicon-2012-scherzo-1993--1571014"
                title="Rubrika: Radioateliér">Radio
                Vltava 'Radioateliér', Prague, Czech Republic</a></div>
            <div class="perf-performer">Michal&nbsp;Rataj</div>
            <hr class="fixed"> </div>
          <!--- End of row -------------------------------------------------->
          <div class="performance"><!--- ------------------------------------------------------- ---->
            <div class="perf-title"><a href="/works/lexicon.php">LEXICON</a></div>
            <div class="perf-date">28.10.2014</div>
            <div class="perf-venue">Neuadd Reichel, Bangor</div>
            <div class="perf-performer">Alex Bailey</div>
            <hr class="fixed"> </div>
          <!--- End of row -------------------------------------------------->
          <div class="performance"><!--- ------------------------------------------------------- ---->
            <div class="perf-title"><a href="/works/lexicon.php">LEXICON</a></div>
            <div class="perf-date">01.07.2014</div>
            <div class="perf-venue"><a href="https://chrwradio.ca/program/beyond-beyond">Beyond
                The Beyond / CHRW 94.9, London, Ontario, Canada</a></div>
            <div class="perf-performer">Richard</div>
            <hr class="fixed"> </div>
          <!--- End of row -------------------------------------------------->
          <div class="performance"><!--- ------------------------------------------------------- ---->
            <div class="perf-title"><a href="/works/lexicon.php">LEXICON</a></div>
            <div class="perf-date">02.05.2014</div>
            <div class="perf-venue"><a href="http://www.sarc.qub.ac.uk/sites/sarc/">SARC,
                Sonorities Festival, Belfast</a></div>
            <div class="perf-performer"><a href="www.andrewlewis.org.uk">Andrew
                Lewis</a></div>
            <hr class="fixed"> </div>
          <!--- End of row -------------------------------------------------->
          <div class="performance"><!--- ------------------------------------------------------- ---->
            <div class="perf-title"><a href="/works/lexicon.php">LEXICON</a></div>
            <div class="perf-date">28.04.2014</div>
            <div class="perf-venue"><a href="http://www.linztermine.at/linztermine/servlet/modern.eventdetails.state;jsessionid=A1157A480EA2FD7FEE3A9293A14B602C?id=302074&amp;c=3&amp;at.onlinegroup.core.windowId=S1272302791725">Kleiner
                Saal, Anton Bruckner Privatuniversität, Linz, Austria</a></div>
            <div class="perf-performer"><a href="www.andrewlewis.org.uk">Andrew
                Lewis</a></div>
            <hr class="fixed"> </div>
          <!--- End of row -------------------------------------------------->
          <div class="performance"><!--- ------------------------------------------------------- ---->
            <div class="perf-title"><a href="/works/lexicon.php">LEXICON</a></div>
            <div class="perf-date">04.04.2014</div>
            <div class="perf-venue">Café / CKUT, Canada</div>
            <hr class="fixed"> </div>
          <!--- End of row -------------------------------------------------->
          <div class="performance"><!--- ------------------------------------------------------- ---->
            <div class="perf-title"><a href="/works/lexicon.php">LEXICON</a></div>
            <div class="perf-date">04.04.2014</div>
            <div class="perf-venue"><a href="http://www.abc.net.au/radionational/programs/soundquality/sqy-04-04/5320596">Sound
                Quality / ABC Radio National, Australia</a></div>
            <div class="perf-performer"><a href="http://www.abc.net.au/radionational/tim-ritchie/2913208">Tim
                Ritchie</a></div>
            <hr class="fixed"> </div>
          <!--- End of row -------------------------------------------------->
          <div class="performance"><!--- ------------------------------------------------------- ---->
            <div class="perf-title"><a href="/works/lexicon.php">LEXICON</a></div>
            <div class="perf-date">02.04.2014</div>
            <div class="perf-venue"><a href="http://antioxidantes-rebelion.blogspot.co.uk/2014/04/programa-02-04-2014.html">Llums
                De Tunguska / Radio Ateneu Del Clot, Barcelona, Spain</a></div>
            <hr class="fixed"> </div>
          <!--- End of row -------------------------------------------------->
          <div class="performance"><!--- ------------------------------------------------------- ---->
            <div class="perf-title"><a href="/works/lexicon.php">LEXICON</a></div>
            <div class="perf-date">27.03.2014</div>
            <div class="perf-venue"><a href="http://www.bdadyslexia.org.uk/courses-and-events/conferences/international-conference.html">BDA
                Conference, G-lIve Centre, Guildford</a></div>
            <div class="perf-performer"><a href="www.andrewlewis.org.uk">Andrew
                Lewis</a></div>
            <hr class="fixed"> </div>
          <!--- End of row -------------------------------------------------->
          <div class="performance"><!--- ------------------------------------------------------- ---->
            <div class="perf-title"><a href="/works/lexicon.php">LEXICON</a></div>
            <div class="perf-date">20.01.2014</div>
            <div class="perf-venue"><a href="http://cod.ckcufm.com/programs/46/info.html">
              </a><a href="https://cod.ckcufm.com/programs/46/44768.html?fbclid=IwAR2c1l-iOnNFQ4VPxJdJVBb7p9uKIHExfKroJSJexdT1Ww-F0VBcyKOe_ac">'Acoustic
                Frontiers' CKCU FM Ottowa, Canada</a></div>
            <div class="perf-performer">Ralph Hopper</div>
            <hr class="fixed"> </div>
          <!--- End of row -------------------------------------------------->
          <div class="performance"><!--- ------------------------------------------------------- ---->
            <div class="perf-title"><a href="/works/lexicon.php">LEXICON</a></div>
            <div class="perf-date">12.01.2014</div>
            <div class="perf-venue"><a href="http://www.kingsplace.co.uk/home">King's
                Place, London</a></div>
            <div class="perf-performer"><a href="www.andrewlewis.org.uk">Andrew
                Lewis</a></div>
            <hr class="fixed"> </div>
          <!--- End of row -------------------------------------------------->
          <div class="performance"><!--- ------------------------------------------------------- ---->
            <div class="perf-title"><a href="/works/lexicon.php">LEXICON</a></div>
            <div class="perf-date">03.11.2013</div>
            <div class="perf-venue">'Sound Scotland', The Lemon Tree, Aberdeen</div>
            <div class="perf-performer"><a href="www.andrewlewis.org.uk">Andrew
                Lewis</a></div>
            <hr class="fixed"> </div>
          <!--- End of row -------------------------------------------------->
          <div class="performance"><!--- ------------------------------------------------------- ---->
            <div class="perf-title"><a href="/works/lexicon.php">LEXICON</a></div>
            <div class="perf-date">25.09.2013</div>
            <div class="perf-venue">Glasgow City Halls, Glasgow</div>
            <div class="perf-performer">Edit-Point</div>
            <hr class="fixed"> </div>
          <!--- End of row -------------------------------------------------->
          <div class="performance"><!--- ------------------------------------------------------- ---->
            <div class="perf-title"><a href="/works/lexicon.php">LEXICON</a></div>
            <div class="perf-date">01.07.2013</div>
            <div class="perf-venue"><a href="https://www.facebook.com/events/156876217828794/">Royal
                Academy of Music, London</a></div>
            <div class="perf-performer"><a href="www.andrewlewis.org.uk">Andrew
                Lewis</a></div>
            <hr class="fixed"> </div>
          <!--- End of row -------------------------------------------------->
          <div class="performance"><!--- ------------------------------------------------------- ---->
            <div class="perf-title"><a href="/works/lexicon.php">LEXICON</a></div>
            <div class="perf-date">23.06.2013</div>
            <div class="perf-venue">Garden Quad Auditorium, St John's College, Oxford</div>
            <div class="perf-performer"><a href="www.andrewlewis.org.uk">Andrew
                Lewis</a></div>
            <hr class="fixed"> </div>
          <!--- End of row -------------------------------------------------->
          <div class="performance"><!--- ------------------------------------------------------- ---->
            <div class="perf-title"><a href="/works/lexicon.php">LEXICON</a></div>
            <div class="perf-date">11.05.2013</div>
            <div class="perf-venue">Urdd Hall, Millennium Centre, Cardiff (Vale
              of Glamorgan Festival)</div>
            <div class="perf-performer"><a href="www.andrewlewis.org.uk">Andrew
                Lewis</a></div>
            <hr class="fixed"> </div>
          <!--- End of row -------------------------------------------------->
          <div class="performance"><!--- ------------------------------------------------------- ---->
            <div class="perf-title"><a href="/works/lexicon.php">LEXICON</a></div>
            <div class="perf-date">08.05.2013</div>
            <div class="perf-venue">Herfordshire University, Hatfield</div>
            <div class="perf-performer"><a href="www.andrewlewis.org.uk">Andrew
                Lewis</a></div>
            <hr class="fixed"> </div>
          <!--- End of row -------------------------------------------------->
          <div class="performance"><!--- ------------------------------------------------------- ---->
            <div class="perf-title"><a href="/works/lexicon.php">LEXICON</a></div>
            <div class="perf-date">01.05.2013</div>
            <div class="perf-venue">Victoria Rooms, Bristol </div>
            <div class="perf-performer"><a href="www.andrewlewis.org.uk">Andrew
                Lewis</a></div>
            <hr class="fixed"> </div>
          <!--- End of row -------------------------------------------------->
          <div class="performance"><!--- ------------------------------------------------------- ---->
            <div class="perf-title"><a href="/works/lexicon.php">LEXICON</a></div>
            <div class="perf-date">16.03.2013</div>
            <div class="perf-venue">Huddersfield University </div>
            <div class="perf-performer"><a href="www.andrewlewis.org.uk">Andrew
                Lewis</a></div>
            <hr class="fixed"> </div>
          <!--- End of row -------------------------------------------------->
          <div class="performance"><!--- ------------------------------------------------------- ---->
            <div class="perf-title"><a href="/works/lexicon.php">LEXICON</a></div>
            <div class="perf-date">01.02.2013</div>
            <div class="perf-venue">Drama Studio, Sheffield University </div>
            <div class="perf-performer"><a href="www.andrewlewis.org.uk">Andrew
                Lewis</a></div>
            <hr class="fixed"> </div>
          <!--- End of row -------------------------------------------------->
          <div class="performance"><!--- ------------------------------------------------------- ---->
            <div class="perf-title"><a href="/works/lexicon.php">LEXICON</a></div>
            <div class="perf-date">01.12.2012</div>
            <div class="perf-venue">BEAST@30, Bramhall Music Building,
              Birmingham University </div>
            <div class="perf-performer"><a href="www.andrewlewis.org.uk">Andrew
                Lewis</a></div>
            <hr class="fixed"> </div>
          <!--- End of row -------------------------------------------------->
          <div class="performance"><!--- ------------------------------------------------------- ---->
            <div class="perf-title"><a href="/works/lexicon.php">LEXICON</a> (premiere)</div>
            <div class="perf-date">28.10.2012</div>
            <div class="perf-venue">MANTIS Festival, Cosmo Rodewald Hall,
              Manchester University </div>
            <div class="perf-performer"><a href="www.andrewlewis.org.uk">Andrew
                Lewis</a></div>
            <hr class="fixed"> </div>
          <!--- End of row -------------------------------------------------->
</body>
</html>
