
    <hr>
    <br>
    <a href="https://www.instagram.com/acousmatician/"><img
        src="/images/Instagram_Glyph_Gradient.png"
        style="width: 48px; margin-inline-start: 0.5em"
        alt="Instagram"></a>&nbsp;&nbsp;&nbsp;<a class="twitter-follow-button" href="https://twitter.com/acousmatician" data-show-count="false"
      data-size="large">Follow @acousmatician</a>&nbsp;&nbsp;&nbsp;
    <a href="https://www.facebook.com/pages/Andrew-Lewis/16986848614"><img src="/images/facebook.jpg"
        alt="facebook"></a>
   <!--- ORCID ID script --->
   
        <a
    id="cy-effective-orcid-url"
    class="underline"
     href="https://orcid.org/0000-0001-5065-2283"
     target="orcid.widget"
     rel="me noopener noreferrer"
     style="vertical-align: baseline">
    <img
        src="https://orcid.org/sites/default/files/images/orcid_16x16.png"
        style="width: 24px; margin-inline-start: 0.5em"
        alt="ORCID iD icon"/>
      orcid.org/0000-0001-5065-2283
    </a>