<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page.title | default: "Andrew Lewis - Composer" }}</title>

  <meta name="description" content="Andrew Lewis, Composer">
  <meta property="og:site_name" content="Andrew Lewis, Composer">
  <meta property="og:title" content="Andrew Lewis - Composer">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="/css/ALstyle26.css?v=04" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="wrapper">
    {% include site_title.html %}
    {% include menu.html %}
    <hr>

    {{ content }}

    <div class="footer_wrapper">{% include footer.html %}</div>
    <div class="stretch">&nbsp;</div>
          <!-- -- This is a hack to stretch the containing white area around the floated columns ----> </div>

  </div>

  <script src="/js/jquery-1.7.2.js"></script>
  
</body>
</html>
